body{
    background-color: lightcyan;
}
header{
    background-image: url(picture/sunflower.jpg);
    background-color: #cccccc;
    position: sticky;
    height: 300px;
    background-origin: content-box;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
}
h1{
    font-size: 500%;
}
h2{
    font-size: 300%;
    text-align: center;
}
navi{
    font-size: 300%;
    position: sticky;
    top: 400px;
}
table, th, td{
    position: center;
    border: 1px solid black;
    margin-left: auto; 
    margin-right: auto;
    font-size: 200%;
    width: 60%;
    border-collapse: collapse;
}

th{
    text-align:center;
}

p{
    font-size: 200%;
    margin-left: auto; 
    margin-right: auto;
    text-align:center;
}